*{
    margin: 0px;
    padding: 0px;
}
.logo {
    width: 80px;
    height: 40px;
    gap: 20px right;
} 

.banner{
    margin-top: 44px;
    margin-left: 240px;
}

.title-web{
    margin:0 20px;
}

.menu{
    margin-left: 621px;
}

.g{
    color: #BA60BF;
    /* text-align: center; */
    /* font-family: Work Sans; */
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

h3{
    
    /* font-family: Work Sans; */
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin: 0px;
    margin-right: 50px;
}

nav > ul{
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
    /* align-items: center; */
}

nav a {
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    /* align-items: center; */
}

.btn-primary{
    border-radius: 5px;
    color: #3C354F;
    border-radius: 8px;
    background-color: rgba(11, 2, 35, 0.10);
    font-size: 18px;
    font-weight: 700;
    padding: 15px 35px;
}

.gap{
    margin-right: 5px;
}