*{
    margin: 0px;
    padding: 0px;
}
.logo {
    width: 80px;
    height: 40px;
    gap: 20px right;
} 

.banner{
    margin-top: 44px;
    margin-left: 240px;
}

.title-web{
    margin:0 20px;
}

.menu{
    margin-left: 621px;
}

.g{
    color: #BA60BF;
    /* text-align: center; */
    /* font-family: Work Sans; */
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

h3{
    
    /* font-family: Work Sans; */
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin: 0px;
    margin-right: 50px;
}

nav > ul{
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
    /* align-items: center; */
}

nav a {
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    /* align-items: center; */
}

.btn-primary{
    border-radius: 5px;
    color: #3C354F;
    border-radius: 8px;
    background-color: rgba(11, 2, 35, 0.10);
    font-size: 18px;
    font-weight: 700;
    padding: 15px 35px;
}

.gap{
    margin-right: 5px;
}

.details{
    width: 50%;
    margin-right: 68px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.part-one{
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 148px;
}

.option-bold {
    text-align: center;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.list{
    color: #534C64;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
}

/* .point{
    margin-right: 276px;
} */

ul{
    margin-left: 280px;
    margin-top: 17px;
    margin-bottom: 17px;
    color: #534C64;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    list-style-type: none;
}

li{
    margin-bottom: 17px;
}

.btn-one{
    margin-left: 270px;
    display: inline-flex;
    margin-right: 24px;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}

.btn-two{
    border-radius: 48px;
    background: #4EC5F7;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
}

.option-container{
    display: flex;
    background-color: #FCF5FB;
}

.home{
    width: 600px;
    height: 600px;
    display: block;
}

.fourth{
    width: 850px;
    height: 489px;
    margin-left: 240px;
    margin-top: 55px;
    margin-bottom: 56px;
    display: flex;
}

.main-container{
    display: flex;
    background-color: #FDF9FC;
}

.header-description{
    width: 500px;
    height: 120px;
    margin-top: 25px;
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;
}

.main-second-part{
    text-align: right;
}

.header{
    margin-top: 95px;
    text-align: right;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #B969D7;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.btn-three{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

h4{
    color: #534C64;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 45px; /* 187.5% */
}

.sec-container{
    text-align: center;
    margin-top: 120px;
}

.sec-header-description{
    margin-top: 7px;
    margin-bottom: 50px;
}

.img-size{
    margin-left: 24px;
    margin-right: 24px;
    width: 340px;
    height: 400px;
}

.third-container{
    display: flex;
}

.third-text{
    margin-left: 439px;
    padding-right: 265px;
}

.third-header{
    margin-top: 336px;
    color: #B969D7;
    text-align: right;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    width: 341px;    
}

.third-header-part{
    color: #0B0223;
    text-align: right;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    width: 341px;
    margin-bottom: 24px;
    /* height: 180px;   */
}

.third-header-part-description{
    width: 353px;
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}

/* .third-container-first-img{
    width: 634px;
    height: 650px;
    position: relative;
} */

.third-container-second-img{
    position: absolute;
    /* margin-right: -100px;   */
    top: 400px;
    right: 265px;
    width: 318px;
    height: 365px;
}

.third-container-img{
    position: relative;
    width: 400px;
    height: 200px;
}

.main-fourth-part{
    margin-top: 195px;
    background-color: #E65EA3;
    display: flex;
}

.fourth-part-start{
    margin-left: 240px;
}

.fourth-header{
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    margin-top: 120px;
    margin-bottom: 10px;
}

.fourth-header-describtion{
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    width: 680px;
    height: 120px;
}

.list-item{
    margin-top: 24px;
    display: flex;
    list-style: none;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 200% */
}

.list-second-part{
    margin-left: 99px;
    text-align: right;
}